footer {
    width: 100%;
    background-color: black;
    color: white;
    margin:0;
    padding: 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
   zi

    p {
        margin-left: 0;
        margin-right: 75%;
    }

    a {
        margin-left: 10px;
    }
}
