<head>
    <link rel="stylesheet" href='https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css'>
</head>
<footer>
    <p>&copy; 2023 Tüm haklar saklıdır.</p>
    <a  href="https://www.facebook.com" target="_blank">
        <i class='bx bxl-facebook' style="color: white; font-size: 24px;"></i>
    </a>
    <a href="https://www.instagram.com" target="_blank">
        <i class='bx bxl-instagram' style="color: white; font-size: 24px;"></i>
    </a>
    <a href="https://twitter.com" target="_blank">
        <i class='bx bxl-twitter' style="color: white; font-size: 24px;"></i>
    </a>
    <a href="https://vk.com" target="_blank">
        <i class='bx bxl-vk' style="color: white; font-size: 24px;"></i>
    </a>
    
      </footer>