<div class="background"></div>
        <div class="gallery">
            <img src="../../public/images.jpeg" alt="Resim 1">
        <img src="../../public/1.png" alt="Resim 1">
        <img src="../../public/2.png" alt="Resim 2">
        <img src="../../public/3.png" alt="Resim 3">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 4">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 5">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 6">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 7">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 8">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 9">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="../../public/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
    </div>