<div class="background"></div>
        <div class="gallery">
        <img src="/images.jpeg" alt="Resim 1">
        <img src="/1.png" alt="Resim 1">
        <img src="/2.png" alt="Resim 2">
        <img src="/3.png" alt="Resim 3">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 4">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 5">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 6">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 7">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 8">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 9">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
        <img src="/Colleagues Engaging in Discussion Over Toy Van and Laptops.png" alt="Resim 1">
    </div>