<div id="mainimg">
<div id="rezervasyon">
    <div class="car"> <i class="fas fa-car" style="font-size: 30px; color: #585757; margin: 0 10px;"></i>
      <h1>Araba</h1> 
    </div>
     
    <div class="information" style="background-color: rgba(0, 255, 255, 0);width: 100%;height: 70%;">
      <span> <h1>Nereden</h1>
        <i class="fas fa-camera"></i>
        <input type="text" class="where1">
    </span>
      <span>
        <h1>Nereye</h1>
    <input type="text" class="where2">
    <button id="maps"> <i class="fas fa-map-marker-alt"></i> Haritada göster</button>
      </span>
      <span><h1>Giriş yapmak</h1>
       <input type="date">
      </span>
      <span><h1>Çıkış yapmak</h1>
       <input type="date"></span>
        <span> <h1>Saat</h1> <input type="time"> </span>
     
        <span> <h1>Kişi sayisi</h1>
          <i class="fas fa-camera"></i>
          <input type="text" class="where1">
          <button id="search"> <i class="fas fa-map-marker-alt"></i> Ara</button>
      </span>
      
    </div>
</div>
</div>