mainimg {
    background-image: url(../../public/mainimg.png);
    background-size: cover;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    margin: 0;
    z-index: 1000;
}

#rezervasyon {
    height: 30%;
    width: 100%;
    background-color: rgba(248, 248, 248, 0.5);
    backdrop-filter: blur(5px);
    position: relative;
    bottom: 0;
    left: 0;
}

.car-text {
    margin: 5px;
    color: #585757;
}

.car {
    display: flex;
    margin-bottom: 15px;
}

.car h1 {
    color: #070707;
    font-size: 20px;
    padding: 0;
    margin: 5px 5px;
}

.information {
    display: flex;
    width: 100%;
    height: 30%;
}

.information span {
    flex: 1;
    text-align: left;
    border-right: 1px solid #585757;
}

.information span h1 {
    margin-left: 10px;
    color: #0c0b0b;
    margin: 0 10px;
    margin-top: 5px;
    padding: 0 10px;
    font-size: 20px;
}

.information span input {
    margin-left: 10px;
    color: #050505;
    font-size: 25px;
    height: 25%;
    width: 90%;
    margin: 0 10px;
    margin-top: 1%;
    padding: 0%;
    border: none;
    background-color: rgba(123, 124, 122, 0.473);
}

#maps {
    background-color: #0c59a0;
    position: relative;
    top: 30%;
    left: 25%;
    color: white;
    height: 60px;
    width: 70%;
    border-radius: 8px;
    font-size: 20px;
}

#maps:hover {
    background-color: rgba(0, 92, 174, 0.8);
    transition: background-color 0.3s ease;
}

#search {
    background-color: #0c59a0;
    position: relative;
    top: 30%;
    left: 25%;
    color: white;
    height: 60px;
    width: 70%;
    border-radius: 8px;
    font-size: 20px;
}

#search:hover {
    background-color: rgba(0, 92, 174, 0.8);
    transition: background-color 0.3s ease;
}

.date {
    border: none;
    background-color: transparent;
    cursor: pointer;
    margin-top: 10%;
    padding: 0;
    width: 65%;
    height: 17%;
    font-size: 20px;
}

.date:hover {
    background-color: rgba(245, 227, 227, 0.5);
    ;
    border-radius: 5px;
}
