<div class="contactus-container">
<div class="contactus">
    <h1>Bizimle İletişime Geçin</h1>
    <p>Istediğiniz zaman bizimle iletişime geçebilirsiniz.<br>
      Sizin düşünceleriniz bizim için çok değerli.</p>
      <input type="text" placeholder="Isim">
      <input type="email" placeholder="Email">
      <input type="text" placeholder="Mesaj">
      <button type="submit">Gönder</button>
    </div>
   <div class="left-box">
    <div class="sitegmail">
      <h1>info</h1>
      <p>infogmail.com</p>
      <p>+99365123456</p>
      <p>Mehmet</p>
       </div>
      <div class="social-box">       
      </div>
      <div class="social-box2">
        
      </div>
    </div>
    
  </div>