.contactus-container {
    display: flex; 
    flex-wrap: wrap; 
      align-items: flex-start; 
      width: 100%; 
      margin: 5% 0%;
  }
  
.contactus {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 60%;
    height: auto;
    margin: 0;
    padding-left: 5%;
}

.contactus h1 {
    font-weight: bold;
    font-size: 60px;
    }

.contactus p {
   font-size: 22px;
    margin-bottom: 10%;
}

.contactus input {
    margin-bottom: 10px;
    width: 45%;
    height: 40px;
    font-size: 18px;
    padding: 5px;
    border: 1px solid #ccc;
    border: none;
    border-radius: 5px;
    margin-left: 10%;
    border-bottom: 3px solid #825151;
}

.contactus input:focus {
    outline: none;
    border: none;
    border-bottom: 3px solid #825151;
}

.contactus button {
    background-color: #825151;
    color: white;
    margin-left: 13%;
    margin-top: 3%;
    width: 20%;
    height: 5%;
    font-size: 25px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.contactus button:hover {
    background-color: #b67d7d;
}

.sitegmail {
    width: 90%;
    height: auto;
    background-color: #825151;
    margin-top: 20%;
    h1{
        color: black;
        font-size: 40px;
        font-weight: bold;
        margin-left: 10%;
    }
    p{
        color: black;
        font-size: 20px;
        margin-left: 10%;}
    }

.social-box {
    position: relative;
    right: 10%;
    bottom: 10%;
   width: 10%;
    height: 6%;
    margin-left: 10%;
    background-color: aqua;
    padding: 0;
    margin-top: 0;
 
}

.social-box2 {
    width: 15%;
    height: 6%;
    background-color: aqua;
}
.left-box{
    
    width: 30%;
    height: auto;
}